<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
    <h1>About me</h1>
    <p>Here is a <a href="http://127.0.0.1:5000" >Link</a>!</p>
    <p> Lets play some <a href="https://www.chess.com/home" target="_blank">Chess</a></p>
    <p>Hello I am Cameron Jarvandi a Senior at UMD!</p>
    <p>I am studying Information Systems as well as Operations Management and Business Analytics</p>
    <h2> Future</h2>
    <p>I will be working for Ernst & Yong after graduating</p>
    <p><Strong>This sentance is Very important</Strong></p>
    <p><em>I am emphasizing this text</em></p>
    <h3>Courses This Semester</h3>
    <ol>
    <li>BMGT434</li>
    <li>BMGT407</li>
    <li>BMGT431</li>
    <li>BMGT380</li>
    <li>BMGT408V</li>
    </ol>
    <h4>Favorite Course This Semester</h4>
    <ul>
        <li>BMGT407</li>
        <li>BMGT431</li>
    </ul>
<table>
    <tr>
        <th>Course</th>
        <th>Semester Taken</th>
    </tr>
    <tr>
        <td>BMGT302</td>
        <td>Spring 23'</td>
    </tr>
    <tr>
        <td>BMGT407</td>
        <td>Spring 24'</td>
    </tr>
    <tr>
        <td>BMGT485</td>
        <td>Fall 24'</td>
    </tr>
</table>

</body>
</html>